<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  <include file="$(find my_launch)/launch/continuous_detection.launch" />
  <node name="locate_camera" pkg="apriltag_robot_pose" type="locate_camera_node.py" respawn="true" />
  <node name="locate_base" pkg="apriltag_robot_pose" type="locate_robot_base_node.py" respawn="true" />
</launch>
